body {
  background-color: black;
  color: white;
  font-family: Lato, sans-serif;
}

h1, h2, h3, {
  font-family: Oswald, sans-serif;
}

#title {
  margin-bottom: 1em;
}

form {
  margin-bottom: 50px;
}

input, button {
  color: black;
}

#go, #switchFC {
  background-color: #424242;
  color: white;
  border: none;
}

#go {
  margin-left: 10px;
}

#weatherCard {
  background-color: rgba(66, 66, 66, .7);
  visibility: hidden;
}

i {
  font-size: 1.5em;
}

#temp {
  font-size: 3em;
}

#temp i {
  font-size: 1em;
}

#icon {
  font-size: 4em;
  margin-bottom: 10px;
}

#humidity {
  margin-top: 10px;
}

#wind i {
  font-size: 2em;
}

#switchFC {
  margin-bottom: 20px;
}